* {
    margin-left: 5%;
    margin-right: 5%;
    font-size: large;
}

h1 {
    text-align: center;
    font-size: larger;
}

h2 {
    font-size: larger;
    text-align: center;
}

h3 {
    font-size: larger;
    text-align: left;
}

p {
    font-size: 18;
}

img {
    border: 5px, gray;
    border-color: gray;
    width: 250px;
    height: 500px;
    vertical-align: middle;
}

.left {
    float: left;
    margin: 10px;
    width: 45%;
    height: auto;
    border: 2px, lightyellow, solid;
    text-align: left;
    flex: auto;
    height: 100%;
}

.leftimg {
    vertical-align: middle;
    margin-left: 25%;
    margin-right: 25%;
}

.rightimg {
    vertical-align: middle;
    margin-left: 25%;
    margin-right: 25%;
}

.right {
    float: right;
    margin: 10px;
    border: 2px, lightblue, solid;
    width: 45%;
    height: 100%;
}

.middle {
    clear: both;
}

.container {
    display: flex;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
    clear: both;
}

#header {
    text-align: center;
}

#conclusion {
    text-align: left;
}

#design {
    height: auto;
    width: 50%;
    vertical-align: middle;
    margin-left: 25%;
}