* {
    margin-left: 5%;
    margin-right: 5%;
}

h1 {
    font-size: 48;
    text-align: center;
}

h2 {
    font-size: 42;
    text-align: center;
}

h3 {
    font-size: 18;
    text-align: left;
}

p {
    font-size: 18;
}

img {
    border: 5px, gray;
    border-color: gray;
    width: 250px;
    height: 500px;
}

.left {
    float: left;
    margin: 10px;
    width: 45%;
    height: auto;
    border: 5px, green, solid;
    text-align: left;
    flex: auto;
    clear: both;
}

.right {
    float: right;
    margin: 10px;
    border: 5px, blue, solid;
    width: 45%;
    height: auto;
    clear: both;
}

#header {
    text-align: center;
}